.jumbotron {
  padding-top: 6rem;
  background-color: #f387e2;
}

#about {
  background-color: #6f016b;
}

#projects {
  background-color: #f387e2;
}

#contect {
  background-color: #6f016b;
}
